@import 'reset.scss';
@import "sortable.scss";
@import 'tippy.js/dist/tippy.css'; // optional for styling


.wrapper {
  font-family: monospace;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  line-height: 1rem;

  & > * {
    grid-column: 2 / -2;
  }

  header {
    grid-column: 1 / -1;
    // Photo by Karsten Würth (@inf1783) on Unsplash
    //background: #fdbc9a url('../../public/assets/images/venice-italy.jpg')
    //  no-repeat center;
    //background-size: cover;
    //height: 500px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    //align-items: center;
    color: #fff;
    //text-align: center;

    .status-bar {
        display: flex;
        justify-content: space-around;
        align-items: start;
        padding: 0.5rem;
        background: #fff;
        border-radius: 0.5rem;
        font-size: 0.8rem;
        //font-weight: bold;
        color: #000;
      > div {
        margin-right: 1rem;
      }
      .no-bold {
        font-weight: normal;
      }
    }
    .source {
      padding: 0.5rem;
    }

    #legend {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0.5rem;
      background: #fff;
      border-radius: 0.5rem;
      font-size: 0.8rem;
      //font-weight: bold;
      color: #000;
    }
  }

  main {
    grid-column: 2 / -2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    //background: #fdbc9a;
    //background: #fdbc9a url('../../public/assets/images/venice-italy.jpg')
    //  no-repeat center;
    //background-size: cover;
    //height: 500px;
    margin-bottom: 20px;
    //text-align: center;
    //color: #fff;
  }

  footer {
    margin-top: 4rem;
    height: 50px;
    display: flex;
    //justify-content: flex-end;
  }
}

.text-bold {
    font-weight: bold;
}

td {
    padding: 3px;
}

tr th {
  text-align: start;
  padding: 3px;
}

tbody#mytable-body tr.orphan {
  td.td-header-number span {
   color: #a20000;
    //text-decoration: underline;
    //border-left: #a20000 solid 2px;
  }
  //td:first-child::before {
  //  content: "•";
  //  color: #a20000;
  //  margin-left: -0.5rem;
  //  //display: block;
  //  //width: 0;
  //  //height: 0;
  //  //border-left: 10px solid transparent;
  //  //border-right: 10px solid transparent;
  //  //border-bottom: 10px solid #a20000;
  //  //margin-left: -10px;
  //  //margin-top: -10px;
  //}
  td {
    color: #7e7e7e;
    //color: #a20000;

  }

}



td.td-uncle-orphan-ui {
  text-align: right;
  padding: 0px !important;
  width: 0.15rem !important;
  align-content: center;
}

span.orphan-ui {
  color: #a20000 !important;
  padding-right: 0.3rem;
}

span.uncler-ui {
  color: #a20000 !important;
  padding-right: 0.3rem;
}

.legend-key {
  margin-right: 0.3rem;
  margin-left: 0.5rem;

}
.legend-value {

}

//td.td-is-uncler {
//
//  text-align: center;
//  padding: 0px !important;
//  width: 0.15rem !important;
//}

.sortable th.skinny {
    padding: 0.2rem;
}

tbody#mytable-body tr.canon {
  color: inherit;
}
tbody#mytable-body tr.latest td:first-child {
  color: #005400;
}

//.td-header-hash {
//  margin-right: 2rem;
//}

tr.canon.uncler {
  //background-color: #ffd0d0;
}

//tbody#mytable-body tr.uncler {
//  //text-decoration-line: underline;
//  //text-decoration-style: dashed;
//  //text-decoration-color: #7e7e7e;
//  //text-decoration-thickness: 0.05rem;
//  //text-decoration: underline 0.1rem dashed gray;
//  background-color: #eee;
//
//  ::after {
//    content: "x";
//    margin-left: 1rem;
//    //display: block;
//    //width: 0;
//    //height: 0;
//    //margin-right: 0;
//  }
//
//  //:before {
//  //  content: "x";
//  //  display: block;
//  //  width: 0;
//  //  height: 0;
//  //  border-left: 5.5rem solid transparent;
//  //  border-right: 0px solid transparent;
//  //  border-bottom: 0px solid #eee;
//  //  margin-right: 0px;
//  //  margin-top: 0px;
//  //}
//}
//  //padding-left: 1rem;


tbody#mytable-body tr.dupeEnd td {
  //border-bottom: 1rem solid white;
}

td.truncate-hash {
    max-width: 6rem;
    overflow: hidden;
    overflow-scrolling: auto;
    //text-overflow: ellipsis;
    white-space: nowrap;

}
//.bacon > img {
//  width: 75px;
//  display: block;
//  margin: auto;
//}
