@import 'reset.scss';

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: auto 1fr auto;
  //line-height: 23px;

  & > * {
    grid-column: 2 / -2;
  }

  header {
    grid-column: 1 / -1;
    // Photo by Karsten Würth (@inf1783) on Unsplash
    //background: #fdbc9a url('../../public/assets/images/venice-italy.jpg')
    //  no-repeat center;
    //background-size: cover;
    //height: 500px;
    margin-bottom: 20px;
    display: flex;
    //justify-content: center;
    //align-items: center;
    color: #fff;
    text-align: center;

    h1 {
      font-size: 3.5em;
      text-shadow: -2px -2px 3px rgb(163, 162, 162);
    }
  }

  footer {
    height: 50px;
    display: flex;
    justify-content: flex-end;
  }
}

td {
    padding: 3px;
}

tbody#mytable-body tr.orphan {
  background-color: #f6d0d0;
}
tbody#mytable-body tr.canon {
  background-color: #cbe3ee;
}
tbody#mytable-body tr.latest {
  background-color: #cfe7ca;
}
tbody#mytable-body tr.uncler td:first-child {
  border-left: 5px solid #c5b5f3;
}
tbody#mytable-body tr.dupeEnd td {
  border-bottom: 1rem solid white;
}

td.truncate-hash {
    max-width: 100px;
    overflow: hidden;
    overflow-scrolling: auto;
    //text-overflow: ellipsis;
    white-space: nowrap;

}
//.bacon > img {
//  width: 75px;
//  display: block;
//  margin: auto;
//}
